/*Vet ej var denna går..
*/
.tab-pane > .tab-header-area {
-fx-padding: 0;

}
/*//resten av listen på tab?
-fx-background-color: #B8DAA0, LightGreen;
*/
.tab-pane > .tab-header-area > .tab-header-background {

-fx-background-insets: 0, 0 0 1px 0;
}
/*//den tab som ej är vald? - gör inget..
#5DB32D, MediumGreen

*/
.tab-pane > .tab-header-area > .headers-region > .tab {

-fx-background-insets: 0 0 1px 0;
-fx-padding: 1.5em 1em;

}
/*//Sätt samma som background på tab
-fx-background-color: MediumGreen;
*/
.tab-pane > .tab-header-area > .headers-region > .tab >.tab-container >.tab-label {

}
.logOutButton {
    -fx-text-fill: #031D44;
    -fx-text: #031D44, textColor;
    -fx-font-family: 'Eras Medium ITC';
    -fx-base: #BE4052;
}
.defaultButton {
    -fx-text-fill: #031D44;
    -fx-text: #031D44, textColor;
    -fx-font-family: 'Eras Medium ITC';
    -fx-base: #7BC054, BackgroundGreen;
}
/*{
    -fx-text-fill: #000000;
    -fx-background-color: #DC143C;
}*/
/*//den tab man är på
-fx-background-color:  #3FA607,DarkGreen;
*/
.tab-pane > .tab-header-area > .headers-region > .tab:selected {

-fx-background-insets: 0, 0 0 2px 0;
}
/**
//vet ej vart denna går
*/
.tab-pane > .tab-header-area > .headers-region > .tab:selected >.tab-container >.tab-label {

}

.tab-pane > .tab-header-area > .headers-region > .tab:selected >.tab-container >.focus-indicator {
-fx-opacity: 0;
}
.text{
    -fx-font-family: 'Eras Medium ITC';
}
/**-fx-base: #9ACD7A, BackgroundGreen;
*/

.root{
-fx-font-size: 12pt;
-fx-text: #031D44, textColor;
-fx-font-family: 'Eras Medium ITC';
-fx-base: #7BC477, BackgroundGreen;  /*7BC36E*/
}
/* Tar bort blå "focus ring" runt selectade element */
#lstViewUserPlantLibrary {
    -fx-focus-color: transparent;
}

/* Tar bort padding på listview */
.list-cell {
    -fx-padding: 0.0em 0.0em 0.5em 0.0em;
        -fx-border-color: transparent;
        -fx-border-style: none;
        -fx-box-shadow: none;
}
.combo-box > .list-cell {
    -fx-padding: 0.2em 0.2em 0.2em 0.2em;
}
.list-cell:selected {
    -fx-background: -fx-control-inner-background-alt;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:focused,
.table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:focused,
.tree-table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:focused,
.table-view:focused:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:focused,
.tree-table-view:focused:cell-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell > .tree-table-cell:focused {
    -fx-background-color: -fx-control-inner-background-alt;
    -fx-background-insets: 0, 0, 0;
}

/* Selected rows */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
    -fx-background: -fx-control-inner-background-alt;
    -fx-table-cell-border-color: -fx-control-inner-background-alt;
}

#goBackIcon {
    -fx-font-size: 16px;
    -fx-text-fill: #FFF;
}

#registerHeading {
    -fx-font-size: 16px;
    -fx-text-fill: #FFF;
}

#loginLargeHeading {
    -fx-font-size: 36px;
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
}

#loginSmallHeading {
    -fx-font-size: 32px;
    -fx-text-fill: #FFF;
}

}
