.tab-pane > .tab-header-area {
-fx-padding: 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
-fx-background-color: #E1E1E1, White;
-fx-background-insets: 0, 0 0 1px 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
-fx-background-color: White;
-fx-background-insets: 0 0 1px 0;
-fx-padding: 1.5em 1em;
}

.tab-pane > .tab-header-area > .headers-region > .tab >.tab-container >.tab-label {
-fx-text-fill: #63B5F6;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
-fx-background-color: #2092ED, White;
-fx-background-insets: 0, 0 0 2px 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected >.tab-container >.tab-label {
-fx-text-fill: #2095F3;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected >.tab-container >.focus-indicator {
-fx-opacity: 0;
}

.root{
-fx-font-size: 14pt;
-fx-font-family: "HGMaruGothicMPRO";
 -fx-base: rgb(154, 205, 122);
 -fx-background: rgb(154, 205, 122);
}
}
